<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">

<div layout:fragment="content">
    <div class="container">
        <h1 style="text-align: center; flex: 1;"><b>SHOP</b></h1>

        <div style="display: flex; justify-content: end; align-items: center;">

            <form class="form-inline my-2 my-lg-0" th:action="@{/item/items}" method="get" style="width: 300px;">
                <div class="input-group input-group-sm"  style="margin-bottom: 30px">
                    <input name="searchQuery" class="form-control" type="search" placeholder="검색하세요" aria-label="Search" style="border-top: none; border-left: none; border-right: none;">
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="col-md-4 margin">
                    <div class="card" style="margin-bottom: 35px; padding: 15px; border-radius: 0;">
                        <a th:href="'/item/' +${item.id}" class="text-dark">
                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="300">
                            <div class="card-body">
                                <h4 class="card-title">[[${item.itemNm}]]</h4>
                                <p class="card-text">[[${item.itemDetail}]]</p>
                                <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="new_button" sec:authorize="hasRole('ROLE_ADMIN')">
            <form class="needs-validation col-12" action="#" th:action="@{/admin/item/new}">
                <button class="btn btn-outline-success" type="submit"> 게시글 작성 </button>
            </form>
        </div>

        <div class="paging" th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${items.number eq 0} ? 'disabled' : ''">
                    <a th:href="@{'/item/items' + '?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${items.number-1}}"
                       aria-label="Previous"
                       class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${items.number eq page-1} ? 'active' : ''">
                    <a th:href="@{'/item/items' + '?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${page-1}}"
                       th:inline="text"
                       class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${items.number+1 ge items.totalPages} ? 'disabled' : ''">
                    <a th:href="@{'/item/items' + '?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${items.number+1}}"
                       aria-label="Next"
                       class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>

</html>