<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments-main.html :: index-head">
</head>
<body>

<div th:replace="fragments-main.html :: nav" class="navbar"></div>


<div id="carouselControls" class="carousel slide margin" data-ride="carousel" style="height: 300px">
  <div class="carousel-inner">
    <div class="carousel-item active item">
      <img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="First slide">
    </div>
  </div>
</div>

<div class="container" style="margin-top: 3%; overflow: hidden;">
  <form class="form-inline my-2 my-lg-0" th:action="@{/item/items}" method="get">
    <div class="input-group">
      <input name="searchQuery" class="form-control" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>

<div class="row">
  <th:block th:each="item, status: ${items.getContent()}">
    <div class="col-md-4 margin">
      <div class="card">
        <a th:href="'/item/' +${item.id}" class="text-dark">
          <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="300">
          <div class="card-body">
            <h4 class="card-title">[[${item.itemNm}]]</h4>
            <p class="card-text">[[${item.itemDetail}]]</p>
            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
          </div>
        </a>
      </div>
    </div>
  </th:block>
</div>

<div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
  <ul class="pagination justify-content-center">

    <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
      <a th:href="@{'/item/items' + '?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
        <span aria-hidden='true'>Previous</span>
      </a>
    </li>

    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
      <a th:href="@{'/item/items' +'?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
    </li>

    <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
      <a th:href="@{'/item/items' +'?searchQuery=' + (${itemSearchDto.searchQuery} ?: '') + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
        <span aria-hidden='true'>Next</span>
      </a>
    </li>

  </ul>
</div>
</div>

<div style="position: fixed; bottom: 5%; right: 20%;">
  <!-- "글작성" 버튼 -->
  <form class="needs-validation col-12" action="#" th:action="@{/admin/item/new}">
    <button class="btn btn-primary btn-block" type="submit">글작성</button>
  </form>
</div>
</body>
</html>