<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>1234</p>
<form class="needs-validation col-12" action="#" th:action="@{/admin/item/new}" >
<button class="btn btn-primary btn-block" type="submit" >글작성</button>
</form>

<form class="needs-validation col-12" action="#" th:action="@{/admin/items}" >
    <button class="btn btn-primary btn-block" type="submit" >글목록</button>
</form>
</body>
</html>