<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_community}">

<head>
    <style>
        .table td {
            padding: 20px 20px;
        }
    </style>
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="row">

                <form th:action="@{'/qnas/' + ${qnas.number}}" role="form" method="get" th:object="${qnas}">
                    <h1 class="text-center" style="margin-bottom: 50px;">Q&A</h1>
                    <table class="table border">
                        <thead>
                        <tr>
                            <td>게시글 번호</td>
                            <td>제목</td>
                            <td>작성자</td>
                            <td>작성일</td>
                            <td>조회수</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="qna : ${qnas.getContent()}">
                            <td th:text="${qna.id}"></td>
                            <td>
                                <a th:href="'/community/qna/'+${qna.id}" th:text="${qna.title}"></a>
                            </td>
                            <td th:text="${qna.createBy}"></td>
                            <td th:text="${qna.regTime != null ? #temporals.format(qna.regTime, 'yyyy-MM-dd HH:mm:ss') : ''}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- 게시글 작성 버튼 추가 -->
                    <div class="text-end mt-4">
                        <a href="/qna/new" class="btn btn-primary">게시글 작성</a>
                    </div>

                    <div th:with="start=${(qnas.number/maxPage)*maxPage + 1}, end=(${(qnas.totalPages == 0) ? 1 : (start + (maxPage - 1) < qnas.totalPages ? start + (maxPage - 1) : qnas.totalPages)})" >
                        <ul class="pagination justify-content-center">

                            <li class="page-item" th:classappend="${qnas.first}?'disabled'">
                                <a th:onclick="'javascript:page(' + ${qnas.number - 1} + ')'" aria-label='Previous' class="page-link">
                                    <span aria-hidden='true'>Previous</span>
                                </a>
                            </li>

                            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${qnas.number eq page-1}?'active':''">
                                <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                            </li>

                            <li class="page-item" th:classappend="${qnas.last}?'disabled'">
                                <a th:onclick="'javascript:page(' + ${qnas.number + 1} + ')'" aria-label='Next' class="page-link">
                                    <span aria-hidden='true'>Next</span>
                                </a>
                            </li>

                        </ul>

                    </div>

                    <div class="form-inline justify-content-center" th:object="${qnaSearchDto}" style="display: flex; flex-wrap: wrap;">
                        <div style="display: flex; align-items: center; margin-right: 10px;">
                            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                                <option value="all">전체기간</option>
                                <option value="1d">1일</option>
                                <option value="1w">1주</option>
                                <option value="1m">1개월</option>
                                <option value="6m">6개월</option>
                            </select>
                        </div>
                        <div style="display: flex; align-items: center; margin-right: 10px;">
                            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                                <option value="title">제목</option>
                                <option value="createdBy">등록자</option>
                            </select>
                        </div>
                        <div style="display: flex; align-items: center; margin-right: 10px;">
                            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                        </div>
                        <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
                    </div>
                </form>
            </div>
        <!--사용 스크립트 추가-->
        <script>
            $(document).ready(function(){
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();
                    page(0);
                });
            });

            function page(page){
                var searchDateType = $("#searchDateType").val();
                var searchBy = $("#searchBy").val();
                var searchQuery = $("#searchQuery").val();

                location.href="/community/qnas/" + page + "?searchDateType=" + searchDateType
                    + "&searchBy=" + searchBy
                    + "&searchQuery=" + searchQuery;
            }

        </script>
        </div>
</div>

</html>
