<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_community}">
<head>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 24px 12px;

  }
  .write_info td{
    text-align: center;
  }
  .write_info,.write_title td{
    background-color: #f2f2f2;
  }

  th {
    background-color: #f2f2f2;
  }

  .image-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
</style>
</head>
<div layout:fragment="content">
  <div class="container">
    <h1 style="text-align: center; flex: 1;"><b>공지사항</b></h1>
    <input type="hidden" id="Id" th:value="${ntc.id}">

    <table>
      <tr class="write_title">
        <td colspan="6">
          <h4 th:text="${ntc.title}"></h4>
        </td>
      </tr>
      <tr class="write_info">
        <td th:text="'작성자 ' + ${ntc.createBy}"></td>
        <td th:text="'Date ' + ${#temporals.format(ntc.createDate, 'yyyy-MM-dd')}"></td>
        <td>조회수 : 조회수 값</td> <!-- 조회수 값을 적절한 값으로 대체 -->
      </tr>
      <tr>
        <td colspan="6">
          <p style="white-space: pre-line" th:text="${ntc.content}"></p>
        </td>
      </tr>
    </table>

    <div style="padding: 30px; background-color: #f2f2f2; margin-bottom: 100px; display: flex; justify-content: flex-end;">
      <a href="#" th:href="@{'/admin/ntc/' + ${ntcId}}" style="background-color: #fff; padding: 30px; border-radius: 5px; border: solid 1px black;">수정</a>
      <a href="#" th:href="@{/community/ntcs}" style="background-color: #fff; padding: 30px; border-radius: 5px; border: solid 1px black;">리스트</a>
    </div>

</div>
</div>
</html>


