<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- footer -->
<footer th:fragment="main-footer" class="footer">
  <div class="footer main">
    <div class="footer-container">
      <div class="footer-inner">
        <div class="footer-wrap row">
          <div class="footer-logo cell img-box"><img src="/img/logo_footer.png" alt=""></div>
          <div class="footer-text-box cell">
            <p><strong>상호명&emsp;</strong>고팡(주)<strong>&emsp;대표&emsp;</strong>현홍준</p>
            <p><strong>위치&emsp;</strong>제주특별자치도 제주시 첨단로 213-65,405호/ 064)755-0811</p>
            <p><strong>고객지원TEL&emsp;</strong>064)755-0811<strong>&emsp;고객지원FAX&emsp;</strong>070)8147-0726(평일 09:00 - 18:00 / 주말 및 공휴일 휴무)</p>
            <!-- <div class="footer-link footer-bottom-text">
                <a href="#">법적고지</a>
                <a href="#">사이트맵</a>
            </div> -->
            <p class="copyright footer-bottom-text">Gopang ⓒ</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="srcoll-top-link"><i class="xi-angle-up"></i></a>
</footer>

<!-- form-footer -->
<footer th:fragment="form-footer" class="footer">
  <div class="footer-content d-flex justify-content-center">
    <ul>
      <li><a href="#terms">회원약관</a></li>|
      <li><a href="#privacy">개인정보 처리방침</a></li>|
      <li><a href="#partner">파트너 회원가입</a></li>|
      <li><a href="#support">회원정보 고객센터</a></li>
    </ul>
    <p>Copyright2023 ⓒ gopang Co.Ltd. ALL RIGHTS RESERVED</p>
  </div>
</footer>

</html>