<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- footer -->
<footer th:fragment="main-footer">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <img class="mb-2" src="/img/logo.png" alt="" style="width: 150px;">
    </div>
    <div class="col-auto">
      <small class="d-block mb-3 text-muted">&copy; 2020</small>
    </div>
  </div>
</footer>

<!-- form-footer -->
<footer th:fragment="form-footer" class="footer">
  <div class="footer-content d-flex justify-content-center">
    <ul>
      <li><a href="#terms">회원약관</a></li>|
      <li><a href="#privacy">개인정보 처리방침</a></li>|
      <li><a href="#partner">파트너 회원가입</a></li>|
      <li><a href="#support">회원정보 고객센터</a></li>
    </ul>
    <p>Copyright2023 ⓒ gopang Co.Ltd. ALL RIGHTS RESERVED</p>
  </div>
</footer>

</html>