
a {
    text-decoration-line: none;
}
.container{
    margin-top: 2%; overflow: hidden; position: relative;
}
#container_community{
    margin-top: 2%; overflow: hidden; position: relative;
    /*max-width:1520px;*/
    min-height: 700px;
    margin-bottom: 50px; padding: 24px 24px;
}

.new_button {
    position: relative;
    right: 0;
    bottom: 5%;
}
.needs-validation{
    display: flex;
    justify-content: flex-end;
}
.needs-validation button{
    font-size: 20px;
}
.paging{
    padding-bottom: 100px;
}

/*@media (min-width: 1400px) {*/
/*    container{*/
/*        max-width:1520px !important;*/
/*    }*/
/*}*/

/* 링크에 대한 공통 스타일 */
.styled-link {
    background-color: #ffffff;
    padding: 20px 70px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease, color 0.3s ease; /* 호버 효과 설정 */
}

/* 호버 효과 정의 */
.styled-link:hover {
    background-color: #333; /* 배경색 변경 */
    border: 1px solid #333;
    color: #ffffff; /* 텍스트 색상 변경 */
}

.paging_custom{
    margin-bottom: 50px;
}
/* 페이지네이션 컴포넌트의 활성화된 페이지 번호 스타일 변경 */
.pagination .page-item.active .page-link {
    background-color: #2a2d32; /* 활성화된 페이지 번호의 배경 색상 변경 (녹색 계열) */
    color: #fff; /* 활성화된 페이지 번호의 텍스트 색상 변경 (흰색) */
}

/* 페이지네이션 컴포넌트의 페이지 번호 스타일 변경 (기본 색상) */
.pagination .page-item .page-link {
    background-color: #fff; /* 페이지 번호의 배경 색상 변경 (기본 색상) */
    color: #2a2d32; /* 페이지 번호의 텍스트 색상 변경 (녹색 계열) */
}

/* 페이지네이션 컴포넌트의 페이지 번호 스타일 변경 (클릭 시 색상) */
.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover {
    background-color: #2a2d32; /* 페이지 번호의 배경 색상 변경 (녹색 계열) */
    border-color: #2a2d32; /* 페이지 번호의 테두리 색상 변경 (녹색 계열) */
    color: #fff; /* 페이지 번호의 텍스트 색상 변경 (흰색) */
}

/* 페이지네이션 컴포넌트의 비활성화된 페이지 번호 스타일 변경 (기본 회색) */
.pagination .page-item.disabled .page-link {
    background-color: #ccc; /* 비활성화된 페이지 번호의 배경 색상 변경 (회색) */
    color: #000; /* 비활성화된 페이지 번호의 텍스트 색상 변경 (검은색) */
}

