<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head.html :: main-head"></head>

<body>

<div th:replace="fragments/navbar.html :: main-nav" class="nav-bar"></div>

<div th:replace="fragments/carousel.html :: carousel" class="carousel"></div>

<input type="hidden" id="itemId" th:value="${boardMain.id}">

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-5" th:text="${boardMain.title}">상품 상세 설명</h4>
    <hr class="my-4">
    <p class="lead" th:text="${boardMain.content}"></p>
  </div>
</div>

<div class="text-center"> <!-- 가운데 정렬을 위한 text-center 클래스 추가 -->
  <img th:src="${boardMain.beforeImgUrl}" alt="Before Image" height="500" width="600">
  <img th:src="${boardMain.afterImgUrl}" alt="After Image" height="500"width="600">
</div>


<!-- footer -->
<footer th:replace="fragments/footer.html :: main-footer"></footer>

<!-- navbar-js -->
<script th:replace="fragments/navbar.html :: navbar-javascript"></script>
</body>
</html>