<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_board}">
<head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 50px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 24px 12px;

    }
    .write_info td{
      text-align: center;
    }
    .write_info,.write_title td{
      background-color: #f2f2f2;
    }

    th {
      background-color: #f2f2f2;
    }

    .image-container {
      display: flex;
      justify-content: space-between;
      padding-bottom: 50px;
    }
  </style>
</head>
<div layout:fragment="content">
  <div class="container">
    <h1 style="text-align: center; flex: 1;"><b>시공사례</b></h1>
  <input type="hidden" id="itemId" th:value="${boardMain.id}">

    <table>
      <tr class="write_title">
        <td colspan="6">
          <h4 th:text="${boardMain.title}"></h4>
        </td>
      </tr>
      <tr class="write_info">
        <td th:text="'작성자 ' + ${boardMain.createBy}"></td>
        <td th:text="'Date ' + ${#temporals.format(boardMain.createDate, 'yyyy-MM-dd')}"></td>
        <td>조회수 : 조회수 값</td> <!-- 조회수 값을 적절한 값으로 대체 -->
      </tr>
      <tr>
        <td colspan="6">
          <div class="image-container" style="display: flex; justify-content:center; padding-bottom: 50px;">
            <img th:src="${boardMain.beforeImgUrl}" alt="Before Image" height="400" width="600">
            <img th:src="${boardMain.afterImgUrl}" alt="After Image" height="400" width="600">
          </div>
          <p th:text="${boardMain.content}"></p>
        </td>
      </tr>
    </table>

    <div style="padding: 30px; background-color: #f2f2f2; margin-bottom: 100px; display: flex; justify-content: flex-end;">
      <a href="/boardMain/list" style="background-color: #fff; padding: 30px; border-radius: 5px;">리스트</a>
    </div>

</div>
</div>
</html>


