<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- form-head -->
<head th:fragment="head">
  <meta charset="UTF-8">
  <title>ShopGrass</title>
  <!-- nav css -->
  <link rel="stylesheet" type="text/css" href="/css/form-nav.css">
  <!-- 부트스트랩 -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <!-- 제이쿼리 -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <!-- 부트스트랩 js -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- nav -->
<nav th:fragment="nav" class="navbar-form bg-light">
  <a href="/" th:href="@{/}"><img src="/img/logo.png" alt="로고"></a>
</nav>

<!-- profile-menu -->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#"
     th:href="@{/settings/profile}">프로필</a>
  <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#"
     th:href="@{/settings/password}">패스워드</a>
  <a class="list-group-item list-group-item-danger" th:classappend="${currentMenu == 'nickname'}? active" href="#"
     th:href="@{/settings/nickname}">계정</a>
</div>

<!-- account-menu -->
<div th:fragment="account-menu (accountMenu)" class="list-group">
  <a class="list-group-item list-group-item-action" th:classappend="${accountMenu == 'profile'}? active" href="#"
     th:href="@{'/profile/' + ${#authentication.name}}">소개</a>
  <a class="list-group-item list-group-item-action" th:classappend="${accountMenu == 'board'}? active" href="#"
     th:href="@{/admin/boardMains}">시공사례</a>
  <a class="list-group-item list-group-item-action" th:classappend="${accountMenu == 'item'}? active" href="#"
     th:href="@{/admin/items}">물품보기</a>
</div>

<!-- form-footer -->
<footer th:fragment="footer" class="footer">
  <div class="footer-content d-flex justify-content-center">
    <ul>
      <li><a href="#terms">회원약관</a></li>|
      <li><a href="#privacy">개인정보 처리방침</a></li>|
      <li><a href="#partner">파트너 회원가입</a></li>|
      <li><a href="#support">회원정보 고객센터</a></li>
    </ul>
    <p>Copyright2023 ⓒ gopang Co.Ltd. ALL RIGHTS RESERVED</p>
  </div>
</footer>

<!-- form-validation -->
<script type="application/javascript" th:fragment="form-validation">

  (function () {
    'use strict';

    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');

      // Loop over them and prevent submission
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated')
        }, false)
      })
    }, false)
  }())
</script>


</html>