<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head">
    <!-- index css -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>


<body class="bg-light" style="height: 100vh;">

<div th:replace="fragments.html :: main-nav"></div>

<!-- 캐러셀 -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 100vh;">
        <div class="carousel-item active">
            <img src="/images/111.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/111.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/111.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>


    <div th:replace="fragments.html :: footer"></div>
</div>



</body>
</html>