<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/head.html :: main-head"></head>

<body>
<div th:replace="fragments/navbar.html :: main-nav" class="nav-bar"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image" style="background-image: url('/img/111.jpg'); animation: zoom 10s infinite;">
                <div class="carousel-caption text-center">
                    <h3>드론</h3>
                    <p>고기능 드론 기술로 어려운 장소도 쉽게 관리하고, 빠르게 정보를 수집합니다.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image" style="background-image: url('/img/ccc.jpg'); animation: zoom 10s infinite;">
                <div class="carousel-caption text-center">
                    <h3>드론</h3>
                    <p>고기능 드론 기술로 어려운 장소도 쉽게 관리하고, 빠르게 정보를 수집합니다.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image" style="background-image: url('/img/eeeee.jpg'); animation: zoom 10s infinite;">
                <div class="carousel-caption text-center">
                    <h3>드론</h3>
                    <p>고기능 드론 기술로 어려운 장소도 쉽게 관리하고, 빠르게 정보를 수집합니다.</p>
                </div>
            </div>
        </div>
        <!-- 경고 메시지 -->
        <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}" style="position: absolute; top: 0; left: 0; right: 0; z-index: 999;">
            벌초박사 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
        </div>
    </div>
</div>
<section class="home-reserve" style="height: 100px;"></section>

<!-- 첫번째 소개 -->
<section class="content-story">
    <div class="content-section">
        <div class="inner-section">
            <h2 >벌초</h2>
            <h3><br>잔디 예초</h3>
            <div class="text">
                <div class="text-inner">
                    <p class="j">예초(Pre-emergent) 관련 드론은 농작물이 아직 싹을 틔우기 전에 잡초의 발생을 예방하고 <br>
                        제어하기 위해 사용되는 드론입니다. <br>
                        이 드론은 다양한 기술과 장비를 활용하여 작물에 해로운 잡초의 번식과 확산을 억제하고, <br>
                        작물의 성장을 보호하고 향상시키는 역할을 합니다. </p>
                    <div class="btn-more-inner">
                        <a href="/our-story">
                            MORE
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="10" viewBox="0 0 60 10">
                                <path d="M1,5 L59,5" stroke="#000" stroke-width="1" fill="none" />
                                <path d="M54,1 L59,5 L54,9" stroke="#000" stroke-width="1" fill="none" />
                            </svg>
                        </a>
                     </div>
                </div>
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/55.jpg" alt="Image 1" class="image">
                </div>
                <div class="swiper-slide"></div>
            </div>
            <!-- 추가: 페이드 효과를 위한 슬라이더 효과 클래스 설정 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<!-- 두번째 소개 -->
<section class="content-story">
    <div class="content-section">
        <div class="image-container_2">
            <div class="image-wrapper_2">
                <div class="swiper-slide">
                    <img src="/img/33.jpg" alt="Image 1" class="image">
                </div>
                <div class="swiper-slide">
                    <img src="/img/44.jpg" alt="Image 1" class="image">
                </div>
            </div>
        </div>
        <div class="inner-section">
            <h2 >벌초</h2>
            <h3><br>잔디 예초</h3>
            <div class="text">
                <div class="text-inner">
                    <p class="j">예초(Pre-emergent) 관련 드론은 농작물이 아직 싹을 틔우기 전에 잡초의 발생을 예방하고 <br>
                        제어하기 위해 사용되는 드론입니다. <br>
                        이 드론은 다양한 기술과 장비를 활용하여 작물에 해로운 잡초의 번식과 확산을 억제하고, <br>
                        작물의 성장을 보호하고 향상시키는 역할을 합니다. </p>
                    <div class="btn-more-inner">
                        <a href="/our-story">
                            MORE
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="10" viewBox="0 0 60 10">
                                <path d="M1,5 L59,5" stroke="#000" stroke-width="1" fill="none" />
                                <path d="M54,1 L59,5 L54,9" stroke="#000" stroke-width="1" fill="none" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 두번째 소개 끝 -->

<!-- 세번째 소개 -->
<section class="content-story">
    <div class="content-section">
        <div class="inner-section">
            <h2 >벌초</h2>
            <h3><br>잔디 예초</h3>
            <div class="text">
                <div class="text-inner">
                    <p class="j">예초(Pre-emergent) 관련 드론은 농작물이 아직 싹을 틔우기 전에 잡초의 발생을 예방하고 <br>
                        제어하기 위해 사용되는 드론입니다. <br>
                        이 드론은 다양한 기술과 장비를 활용하여 작물에 해로운 잡초의 번식과 확산을 억제하고, <br>
                        작물의 성장을 보호하고 향상시키는 역할을 합니다. </p>
                    <div class="btn-more-inner">
                        <a href="/our-story">
                            MORE
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="10" viewBox="0 0 60 10">
                                <path d="M1,5 L59,5" stroke="#000" stroke-width="1" fill="none" />
                                <path d="M54,1 L59,5 L54,9" stroke="#000" stroke-width="1" fill="none" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/22.jpg" alt="Image 1" class="image">
                </div>
                <div class="swiper-slide"></div>
            </div>
            <!-- 추가: 페이드 효과를 위한 슬라이더 효과 클래스 설정 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>


<section class="home-reserve" style="height: 100px;">
</section>
<section class="home-reserve" style="height: 600px; background-image: url('/img/123.jpg'); background-attachment: fixed; background-position: center bottom;">
</section>

<!-- footer -->
<footer th:replace="fragments/footer.html :: main-footer"></footer>
<!-- navbar-js -->
<script th:replace="fragments/navbar.html :: navbar-javascript"></script>

</body>
</html>